body{
  background-color: skyblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-menu{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-size: 25px;
    background-color: skyblue;
    text-align: center;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 9999;
    width: 100%;
    
    
  }
  
  
  .nav-menu a{
    color: black;
      text-decoration: none;
      padding: 14px 20px;
      width: 100%;
    }
    .nav-menu a:hover{
      background-color: gainsboro;
      
    
 }

.hero-image{
   margin-top: 5%;
  width: 100%;
}

.hero-text{
  position: absolute;
  top: 50%;
  left: 10%;
  color: white;
  font-size:60px;
  z-index:100;
}
.regis-button{
   position: absolute;
  bottom: 10%;
  left: 47%;
  z-index:100 ;
  background-color: orangered;
  color: white;
  text-decoration:none;
  padding:  16px ;
  font-weight: bold;
  visibility:visible;
}

.title{
  text-align: center;
}
.package{
  text-align: center;
}
.centerify{
  display: flex;
  justify-content:center;
}
.input{
  width: 400px;
  border: 1px solid blue;
}
.textarea{
   width:400px;
   height:100px;
   border: 1px solid blue;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-flex{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.btn{
  background-color: blue;
  color: white;
  padding: 8px 4px;
   font-size:20px ;
}
.social-flex{
 display: flex;
 align-items:center;
 justify-content: flex-end;
 
}

.face,.insta{
  width:20px;
  padding: 0 5px;
}
.twitter{
  width:22px;
   padding: 0 5px ;
}
.footer{
  text-align: center;
  color: white;
  background-color:blue ;
}
.register{
   text-align: center;
}

@media (max-width: 812px) {
    #ham-menu{
        width: 35px;
        height: 30px;
         margin: 30px 0 20px 20px;
        cursor: pointer;
         z-index:9999;
         position: fixed;
          top: 10;
      }
  
  .nav-menu{
      display: block;
        flex-direction: column;
        text-align: center;
         visibility: hidden;
         
        } 
    
        .bar {
        height: 5px;
        width: 100%;
        background-color: white;
        display: block;
        border-radius: 5px;
        transition:0.3s ease; 
      
      }
      #bar1{
        transform: translateY(-4px);
      }
     
      #bar3{
         transform: translateY(4px);
      }
      .change .bar{
        background-color: white;
      }
      .change #bar1{
        transform:translateY(4px)rotateZ(-45deg) ;
      }
      .change #bar3{
         transform: translateY(-6px)rotate(45deg);
      }
      .change #bar2{
        opacity: 0;
      }
       .change {
       
       visibility: visible;

       }
       
      .list a{
      color: black;
      text-decoration: none;
      display: block;
      padding: 8px 16px;
      }
    
    .packages-image{
   width: 100%;
 }

  
.hero-text{
  position: absolute;
  top: 30%;
  left: 20%;
  color: white;
  font-size:auto;
  z-index:100 ;
  font-size:5vw ;
 
}
.regis-button{
   visibility: hidden;;
  position: absolute;
  bottom: 5%;
  left: 47%;
  z-index:100 ;
  background-color: orangered;
  color: white;
  text-decoration:none;
  padding:  16px ;
  font-weight: bold;
 
}
.form{
 width: 100%;

}
}
    
@media (max-width: 677px) {
   #ham-menu{
        width: 35px;
        height: 30px;
         margin: 30px 0 20px 20px;
        cursor: pointer;
         z-index:9999;
         position: fixed;
          top: 10;
      }
  
     .nav-menu{
       display: flex;
       flex-direction: column;
        text-align: center;
         visibility: hidden;
         display: none;
        } 
    
        .bar {
        height: 5px;
        width: 100%;
        background-color: white;
        display: block;
        border-radius: 5px;
        transition:0.3s ease; 
      }
      #bar1{
        transform: translateY(-4px);
      }
     
      #bar3{
         transform: translateY(4px);
      }
      .change .bar{
        background-color: white;
      }
      .change #bar1{
        transform:translateY(4px)rotateZ(-45deg) ;
      }
      .change #bar3{
         transform: translateY(-6px)rotate(45deg);
      }
      .change #bar2{
        opacity: 0;
      }
       .change {
        display: inline-block;
        visibility: visible;

       }
       
      .list a{
      color: black;
      text-decoration: none;
      display: block;
      padding: 8px 16px;
      }
    
    .packages-image{
   width: 100%;
 }

  
.hero-text{
  position: absolute;
  top: 30%;
  left: 20%;
  color: white;
  font-size:auto;
  z-index:100 ;
  font-size: 2rem;
 
}
.regis-button{
   visibility: hidden;
  position: absolute;
  bottom: 5%;
  left: 47%;
  z-index:100 ;
  background-color: orangered;
  color: white;
  text-decoration:none;
  padding:  16px ;
  font-weight: bold;
 
}
.form{
 width: 100%;

}
}

    
    
@media (max-width: 567px) {
   #ham-menu{
        width: 35px;
        height: 30px;
         margin: 30px 0 20px 20px;
        cursor: pointer;
         z-index:9999;
         position: fixed;
          top: 10;
      }
  
  .nav-menu{
       display: flex;
       flex-direction: column;
        text-align: center;
         visibility: hidden;
         display: none;
        } 
    
        .bar {
        height: 5px;
        width: 100%;
        background-color: white;
        display: block;
        border-radius: 5px;
        transition:0.3s ease; 
      }
      #bar1{
        transform: translateY(-4px);
      }
     
      #bar3{
         transform: translateY(4px);
      }
      .change .bar{
        background-color: white;
      }
      .change #bar1{
        transform:translateY(4px)rotateZ(-45deg) ;
      }
      .change #bar3{
         transform: translateY(-6px)rotate(45deg);
      }
      .change #bar2{
        opacity: 0;
      }
       .change {
        display: inline-block;
        visibility: visible;

       }
       
      .list a{
      color: black;
      text-decoration: none;
      display: block;
      padding: 8px 16px;
      }
    
    .packages-image{
   width: 100%;
 }

  
.hero-text{
  position: absolute;
  top: 20%;
  left: 20%;
  color: white;
  font-size:auto;
  z-index:100 ;
  font-size: 2rem;
 
}
.regis-button{
   visibility: hidden;
  position: absolute;
  bottom: 5%;
  left: 47%;
  z-index:100 ;
  background-color: orangered;
  color: white;
  text-decoration:none;
  padding:  16px ;
  font-weight: bold;
 
}
.form{
 width: 100%;

}
}
   

    


    

   

